{% load static %}
{% include 'mainheader.html' %}
<!doctype html>
<html>
<head><title>Success</title>
    <style>
      h4{
            text-align:center;
            font-family: 'Source Sans Pro', sans-serif;
            margin-top:160px;
        }
      #p1{
        text-align:center;
        font-family: 'Source Sans Pro', sans-serif;
      }
      #p2{
        text-align:center;
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom:200px;
      }
    </style>
</head>
<body>
    <div class="container">
        <h4>Sign Up Successfully!</h4>
        <p id="p1">Your account has been successfully created and verified.</p>
        <p id="p2">Click here to <a href="loginmain">Log in</a></p>
    </div>
</body>
</html>
{% include 'mainfooter.html' %}


