<div class="col-sm-6 mb-3">
    <label for="maritalstatus" class="label">Marital Status</label>  
    <select id="maritalstatus" name="maritalstatus" class="form-control">
        <option value="maritalstatus" selected disabled hidden >Choose Marital Status</option> 
        <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Divorced">Divorced</option>
        <option value="Widowed">Widowed</option>
    </select>  
</div>
</div>
</div>