{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">

<style>
    .previous {
        color: black;
      }      
</style>
  <main id="main" class="main">

</body>
</html>
    

    <div class="pagetitle">
      <h1><b>Update Syllabus</b></h1>
      <nav>
      </nav>
    </div><!-- End Page Title -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a href="../../view_syllabus" class="previous">&laquo; <b>Previous</b></a>
        </li>
      </ul>  

    <section class="section">
      <div class="row">
        <div class="col-lg-11">

          <div class="card">
            <div class="card-body" style="padding:20px;,back-ground color:black;">
              <!-- General Form Elements -->
              <form method="post" id="form" action="{% url 'update_syllabus' id=member.id %}" >
                {% csrf_token %}
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <h5 class="card-title">Syllabus Details</h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 mb-3">
                          <label for="course" class="label">Course Name</label>  
                          <select id="course" name="course" class="form-control">
                            <option value="" selected disabled hidden>{{current_course_name}}</option>
                            {% for i in course %}
                                <option value="{{ i.id }}" {% if member.course == i.course %}selected{% endif %}>{{ i.course }}</option>
                            {% endfor %}
                          </select>  
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-8 mb-3">
                          <label for="title" class="label">Title</label>
                          <input name="title" type="text"  value="{{member.title}}" class="form-control">
                    </div>
                </div>
                    
                    <div class="row mb-3">
                      <div class="col-sm-8 mb-3">
                          <label for="desc" class="label">Description</label> 
                          <textarea name="syllabus_desc" type="text" class="form-control">{{member.syllabus_desc}}</textarea>
                      </div>
                    

                    <div class="row mb-3">
                        <div class="col-sm-10">
                        <button type="submit" id="form-submit" class="btn btn-primary">Update</button>
                       </div>
                   </div>
            </form>
            
</main>
</html>
{% include 'footer.html' %}