{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">

<style>
    .previous {
        color: black;
      }      
</style>
  <main id="main" class="main">

</body>
</html>
    

    <div class="pagetitle">
      <h1><b>Update Instructor</b></h1>
      <nav>
      </nav>
    </div><!-- End Page Title -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a href="../../show_instructor" class="previous">&laquo; <b>Previous</b></a>
        </li>
      </ul> 

    <section class="section">
      <div class="row">
        <div class="col-lg-11">

          <div class="card">
            <div class="card-body" style="padding:20px;,back-ground color:black;">
              <!-- General Form Elements -->
              <form method="post" id="form" action="{% url 'update_instructor' id=member.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <h5 class="card-title"> Instructor Details</h5>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-sm-8 mb-3">
                            <label for="name" class="label">FullName</label>
                            <input name="name" type="text" value="{{member.name}}"  class="form-control">
                    </div>
                </div>
                            
                    <div class="row mb-3">
                        <div class="col-sm-8 mb-3">
                            <label for="img" class="label">Upload Photo</label>
                            <div class="d-flex align-items-center">
                                <div class="image-preview mr-3">
                                    <img id="uploadedImage" src="../../media/{{ member.img }}" class="rounded img-fluid" style="max-width: 100px; max-height: 150px;">
                                </div>
                                <input name="img" class="form-control-file" type="file" id="image" onchange="previewImage(this);">
                            </div>
                           
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-8 mb-3">
                          <label for="designation" class="label">Designation</label>
                          <input name="designation" type="text" value="{{member.designation}}" class="form-control">
                    </div>
                </div> 

                <div class="row mb-3">
                    <div class="col-sm-8 mb-3">
                        <label for="course" class="label">Course Name</label>  
                        <select id="course" name="course" class="form-control">
                         
                          <option value="" selected disabled hidden>{{current_course_name}}</option>
                        
                          {% for i in courses %}
                          <option value="{{ i.id }}" {% if member.course == i.id %}selected{% endif %}>{{ i.course}}</option>
                          {% endfor %}
                        </select>  
                    </div>
                </div>
                    
                <div class="row mb-3">
                    <div class="col-sm-8 mb-3">
                          <label for="qualification" class="label">Qualification</label>
                          <input name="qualification" type="text" value="{{member.qualification}}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-8 mb-3">
                          <label for="experience" class="label"> Work Experience</label>
                          <input name="experience" type="text"  value="{{member.experience}}" class="form-control">
                    </div>
                </div>
                    

                    <div class="row mb-3">
                        <div class="col-sm-10">
                        <button type="submit" id="form-submit" class="btn btn-primary">Save</button>
                       </div>
                   </div>
            </form>
            
</main>
</html>
{% include 'footer.html' %}